html {
    box-sizing: border-box;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  *::first-letter {
    text-transform: capitalize;
  }

  h1 {
    text-align: center;
  }

.searchSection {
    display: flex;
    justify-content: center;
}
  